@import '../../../scss/variables.scss';

.cart-product {
	display: flex;
    padding: 15px 10px 15px 15px;
	background-color: #e0e0e4;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
	&__foto {
		height: 70px;
		width: 50px;
		margin-right: 20px;
		@media (max-width: 480px) {
			width: 100%;
			height: auto;
			margin: 0px 0px 15px 0px;
		}
	}
	&__foto img {
		height: auto;
		max-width: 100%;
		display: block;
	}
	&__descr {
		width: 50%;
		@media (max-width: 768px) {
			width: 80%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 7px;
		@media (max-width: 480px) {
			margin-bottom: 12px;
		}
	}
	&__property {
		font-size: 12px;
		color: $colorGreyDark;
		margin-bottom: 5px;
	}
	&__quantity {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			width: 100%;
			margin-top: 15px;
		}
	}
	&__addcount {
		display: flex;
		align-items: center;
	}
	&__count {
		border: 1px solid;
		border-radius: 5px;
		width: 40px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__remove {
		color: $colorGreyDark;
		font-size: 13px;
		cursor: pointer;
		text-align: center;
		@media (max-width: 768px) {
			margin-top: 30px;
    		text-align: left;
		}
	}
	&__remove:hover {
		color: #000;
	}
	&__info {
		width: 13%;
		margin-left: auto;
		@media (max-width: 1200px) {
			width: 18%;
		}
		@media (max-width: 768px) {
			width: 100%;
    		margin-top: 26px;
		}
	}
	&__price {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
	}
	& .btn-sm {
		background-color: $colorBlue;
		color: #fff;
		border: 1px solid;
		&:hover {
			opacity: 0.8;
		}
	}
}