/*======================@media=============================*/
/* Адаптивность */
//<meta name="viewport" content="width=device-width">

/* Custom , iphone Retina */
//@media only screen and (max-width : 320px) {}
//@media (max-width: 320px)

/* Extra small Device, Phones */
//@media only screen and (max-width : 480px) {}
//@media (max-width: 480px)

/* Small Device, Tablets */
//@media only screen and (max-width : 768px) {}
//@media (max-width: 768px)

/* Medium Device, Desktops */
//@media only screen and (max-width : 992px) {}
//@media (max-width: 992px)

/* Large Device, Wide Screens */
//@media only screen and (max-width : 1200px) {}
//@media (max-width: 1200px)

/*======================Общие стили=============================*/


/*==========================Header================================*/




.header__burger {
	// display: none;
	// @media (max-width: 768px) {
	// 	display: block;
	// 	position: relative;
	// 	width: 30px;
	// 	height: 20px;
	// }
	// &:before {
	// 	content: '';
	// 	background-color: #fff;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;

	// 	top: 0;
	// }
	// &:after {
	// 	content: '';
	// 	background-color: #fff;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;

	// 	bottom: 0;
	// }
	// & span {
	// 	position: absolute;
	// 	background-color: #fff;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;
	// 	top: 9px;
	// }
}
.header__menu {
	// display: none;
	// @media (max-width: 768px) {
	// 	z-index: 1;
	// 	display: block;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgb(43, 149, 199);
	// }
}


/*============================Main=================================*/


.filter {
	width: 240px;
	@media (max-width: 992px) {
		display: none;
	}
	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__items {
		padding: 20px 20px;
	}
	&__item-wrap {
		margin-bottom: 25px;
	}
}

.filter-input {
	&__title {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 14px;
	}
	&__option {
		margin-bottom: 10px;
	}
	&__option:last-child {
		margin-bottom: 0px;
	}
	&__text {
		color: $colorBlueDark;
		font-size: 13px;
		font-weight: bold;
		display: inline-block;
		width: 15px;
		
	}
	&__value {
		height: 28px;
		width: 175px;
		border: 1px solid $colorGreyDark;
	}

}

.filter-checkbox {
	&__title {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 14px;
	}
	&__option {
		display: flex;
		margin-bottom: 11px;
		align-items: center;
	}
	&__input {
		display: block;
		margin-right: 6px;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		border: 1px solid $colorGrey;
		cursor: pointer;
	}
	&__text {
		font-size: 13px;
		cursor: pointer;
	}
}

.filter-mobile {
	display: none;
	@media (max-width: 992px) {
		display: block;
		padding: 15px 0px;
		font-size: 16px;
		background-color: #c6d3ee;
		border: 1px solid #c6d3ee;
		text-align: center;
		margin-bottom: 30px;
	}
	&:active {
		border: 1px solid $colorBlue;
	}
}










/*=========================Inner Page===============================*/

/*===========================Popup==================================*/
//.open - открытие
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
	z-index: 99;

	opacity: 0;
	visibility: hidden;

	overflow-y: auto;
    overflow-x: hidden;
	&.open {
		opacity: 1;
    	visibility: visible;
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		position: relative;
		background-color: #fff;
		width: 400px;
		height: 400px;
		padding: 80px 20px 10px 20px;
		border-radius: 5px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 20px;
	}
	&__text {
		text-align: center;
		font-size: 16px;
	}
	&__close {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 25px;
	}
	&__select {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	&__select .input {
		height: 35px;
		padding: 0px 15px 0px 15px;
	}
	&__textarea {
		margin-bottom: 10px;
		resize: none;
	}
	&__textarea .input{
		height: 100px;
		padding: 10px 20px 10px 20px;
	}
	& .btn-bg {
		background-color: $colorBlue;
		color: $colorWhite;
		margin-top: 5px;
		width: 100%;
		padding: 10px 15px;
		&:hover {
			opacity: 0.8;
		}
	}

}
/*===========================Popup-comments=========================*/

/*===========================Cart===================================*/


/*===========================Footer=================================*/
footer {
	flex-shrink: 0;

	display: flex;
	background-color: $colorBlue;
	height: 53px;
	align-items: center;
	& h1 {
		font-size: 16px;
		background-color: $colorBlue;
	}
}